<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.etc.mapper.MajorTypeMapper">

    <select id="getMajorTypeById" resultType="com.etc.domain.MajorType">
        SELECT * FROM t_majortype WHERE id = #{id}
    </select>

    <select id="getAllMajorType" resultType="com.etc.domain.MajorType">
        SELECT * FROM t_majortype
    </select>

    <insert id="addMajorType" parameterType="com.etc.domain.MajorType">
	    INSERT INTO  t_majortype (majortype) VALUES (#{majortype})
	</insert>

    <update id="modMajorTypeById" parameterType="com.etc.domain.MajorType" >
        update t_majortype
        <trim prefix="set" suffixOverrides=",">
            <if test="majortype != null">
                majortype = #{majortype}
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delMajorTypeById">
        DELETE FROM t_majortype WHERE id = #{id}
    </delete>

</mapper>